<div class="row">
  <div class="col-md-12">

    <h2>
      购物车
    </h2>

    <div class="pull-right">
      <%= link_to '清空购物车', cart_path(current_cart), method: :delete, class: "btn btn-danger", data: { confirm: "你确定要清空购物车吗"} %>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">商品资讯</th>
          <th>单价</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.image.present? %>
            <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("https://ww1.sinaimg.cn/large/006y8lValy1fca38ugjwpj305l05kq2p.jpg", class: "thumbnail") %>
            <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
          </td>
          <td>
            <%= cart_item.product.price %>
          </td>
          <td>
            <% cart_item = current_cart.cart_items.find_by(product_id: cart_item.product_id) %>

            <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
            <%= f.select :quantity, 1..cart_item.product.quantity %>
            <%= f.submit "更新", class: "btn btn-default" %>
            <% end %>
          </td>
          <td>
            <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <div class="total clearfix">
      <span class="pull-right">
        <span>
          <% sum = 0 %>
          <% current_cart.cart_items.each do |cart_item| %>
          <% if cart_item.product.price.present? %>
          <%= sum = sum + cart_item.quantity * cart_item.product.price %>
          <% end %>
          <% end %>
          总计
          <%= sum %>
          RMB
        </span>
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <%= link_to("确认结账", "#", method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>
